<p id="notice"><%= notice %></p>

<p>
  <strong>Ssid:</strong>
  <%= @pollpoint.ssid %>
</p>

<p>
  <strong>Gps:</strong>
  <%= @pollpoint.gpspoint %>
</p>

<p>
  <strong>Signal:</strong>
  <%= @pollpoint.signal %>
</p>

<p>
  <strong>Rssi:</strong>
  <%= @pollpoint.rssi %>
</p>

<%= link_to 'Edit', edit_pollpoint_path(@pollpoint) %> |
<%= link_to 'Back', ssid_pollpoints_path %>
