<p id="notice"><%= notice %></p>
<p><strong>DOI Path</strong><%= @doi_base.doi_path %></p>
<p><strong>Created</strong><%= @doi_base.created %></p>
<p><strong>Updated Last</strong><%= @doi_base.updated %></p>
<%= link_to 'Show All DOI entries', doi_bases_path %>
